body {
  height: 100%;
  width: auto;
  display: grid;
  place-items: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

img {
  height: 100px;
  width: 100px;
}

#restart {
  display: none;
}
